html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.brainlady img{
  position:absolute;
  max-width: 14%;
  left:1300px;
  z-index:300;
}

.audio{
  position: absolute;
  left:250px;
  top:550px;
  opacity:0%;
  z-index:600;
}

.phone img{
  position: absolute;
  left:140px;
  top:500px;
  z-index:500;
  max-width:40%;
}

.bunny img{
  position:absolute;
  left: 440px;
  top:200px;
  filter: drop-shadow(-8px -8px 10px #0b0d21); 
}

.bunspan{
  visibility:hidden;
  white-space:nowrap;
  position:absolute;
  left: 140px;
  top:20px;
  font-family: "broadsheet",serif; 
  font-size:24px;
  color:#FBDDFC;
  background-color: #171B3F;
  border-radius: 40% 10% / 50% 20%;
}

.bundiv{
  position:absolute;
  left: 500px;
  top:200px;
  height:230px;
  width: 120px;
}

.bundiv:hover .bunspan{
  visibility:visible;
}

.clothes img {
  position: absolute;
  max-width: 14%;
  left: 1250px;
  top:280px;
  z-index: 550;
}

.clothesdot{
  /* https://www.w3schools.com/howto/howto_css_circles.asp */
  position:absolute;
  left: 1230px;
  top:290px;
  height: 210px;
  width: 250px;
  background-color: #FBDDFC;
  border-radius: 50%;
  display: inline-block;
  filter: blur(15px);
  animation: fade-inout .75s infinite alternate;
  z-index: 500;
}

/* neutral dots*/
.dot1{
  /* https://www.w3schools.com/howto/howto_css_circles.asp */
  position:absolute;
  left:1420px;
  top:55px;
  height: 30px;
  width: 30px;
  background-color: #ff56da;
  border-radius: 50%;
  display: inline-block;
  filter: blur(4px);
  animation: fade-inout .75s infinite alternate;
  z-index: 500;
}

.dot11{
  /* https://www.w3schools.com/howto/howto_css_circles.asp */
  position:absolute;
  left:1430px;
  top:60px;
  height: 35px;
  width: 35px;
  background-color: #ff56da;
  border-radius: 50%;
  display: inline-block;
  filter: blur(4px);
  animation: fade-inout .75s infinite alternate;
  z-index: 500;
}

.dot2{
  /* https://www.w3schools.com/howto/howto_css_circles.asp */
  position:absolute;
  left:1400px;
  top:40px;
  height: 15px;
  width: 15px;
  background-color: #ff56da;
  border-radius: 50%;
  display: inline-block;
  filter: blur(4px);
  animation: fade-inout .75s infinite alternate;
  z-index: 500;
}

.dot3{
  /* https://www.w3schools.com/howto/howto_css_circles.asp */
  position:absolute;
  left:1380px;
  top:50px;
  height: 12px;
  width: 12px;
  background-color: #ff56da;
  border-radius: 50%;
  display: inline-block;
  filter: blur(4px);
  animation: fade-inout .75s infinite alternate;
  z-index: 500;
}


.leading{
  position: absolute;
  background-color: #FBDDFC;
/*https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius*/
  border-radius: 50% 20% / 10% 40%;
  font-family: "broadsheet",serif; 
  font-size:24px;
  color:#00006E;
  left: 90px;
  top:-5px;
  z-index: 550;
  animation: fade-inout 1s infinite alternate;
}

.poem1{
  position: absolute;
  background-color: #FBDDFC;
  border-radius: 50% 20% / 10% 40%;
  text-decoration: dotted underline #00006E;
  font-family: "broadsheet",serif; 
  font-size:40px;
  color:#00006E;
  left: 290px;
  top:40px;
  z-index: 550;
  margin-top: 0px;
}

.poem2{
  position: absolute;
  background-color: #FBDDFC;
  border-radius: 50% 20% / 10% 40%;
  text-decoration: dotted underline #00006E;
  font-family: "broadsheet",serif; 
  font-size:28px;
  color:#00006E;
  left: 390px;
  top:170px;
  z-index: 550;
  margin-top: 0px;
}

.nexttime{
  position: absolute;
  font-size:40px;
  color:#00006E;
  left:1160px;
  top: 470px;
}

/* got animation code from this youtube video: https://youtu.be/jD_8FLePHZU */
@keyframes fade-inout{
  0%{opacity: 1;}
  100%{opacity:0;}
}


/* emotion hud */

.sudot{
  position:absolute;
  left:1237px;
  top:40px;
  height: 22px;
  width: 77px;
  background-color: #fffb25;
  border-radius: 25px;
  display: inline-block;
  filter: blur(2px);
}

.sutalk{
  position:absolute;
  left:1240px;
  top:40px;
  font-family: questa, serif;
  font-weight: 500;
  font-style: italic;
  font-size: 14pt;
}

.fedot{
  position:absolute;
  left:1237px;
  top:70px;
  height: 22px;
  width: 38px;
  background-color: #10ff1c;
  border-radius: 25px;
  display: inline-block;
  filter: blur(2px);
}

.fetalk{
  position:absolute;
  left:1240px;
  top:70px;
  font-family: questa, serif;
  font-weight: 500;
  font-style: italic;
  font-size: 14pt;
}

.andot{
  position:absolute;
  left:1237px;
  top:100px;
  height: 22px;
  width: 51px;
  background-color: #ff1e1e;
  border-radius: 25px;
  display: inline-block;
  filter: blur(2px);
}

.antalk{
  position:absolute;
  left:1240px;
  top:100px;
  font-family: questa, serif;
  font-weight: 500;
  font-style: italic;
  font-size: 14pt;
}

.sadot{
  position:absolute;
  left:1237px;
  top:130px;
  height: 22px;
  width: 38px;
  background-color: #74a0ff;
  border-radius: 25px;
  display: inline-block;
  filter: blur(2px);
}

.satalk{
  position:absolute;
  left:1240px;
  top:130px;  
  font-family: questa, serif;
  font-weight: 500;
  font-style: italic;
  font-size: 14pt;
  font-size: 14pt;
  border-radius: 25px;
  
}

.nedot{
  position:absolute;
  left:1237px;
  top:160px;
  height: 22px;
  width: 68px;
  background-color: #ff56da;
  border-radius: 25px;
  display: inline-block;
  filter: blur(2px);
}

.netalk{
  position:absolute;
  left:1240px;
  top:160px;
  font-family: questa, serif;
  font-weight: 500;
  font-style: italic;
  font-size: 14pt;
}
